<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.uz.vopak.brb4.brb4">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission
        android:name="device.sdk.sample.scanner.permission.SCANNER_RESULT_RECEIVER"
        android:protectionLevel="normal" />

    <uses-permission android:name="device.sdk.sample.scanner.permission.SCANNER_RESULT_RECEIVER" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="com.symbol.emdk" android:required="false"/>

        <activity
            android:name=".AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTop"/>
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MessageActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name=".PriceCheckerActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="ua.uz.vopak.brb4.brb4.RECVR"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>


        </activity>

        <activity android:name=".Scaner.ScanResultReceiverTC"
            android:launchMode="singleTask">
            <!--<intent-filter>
                <action android:name="ua.uz.vopak.brb4.brb4.RECVR"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>-->
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".DocumentActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".DocumentItemsActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".DocumentScannerActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"/>
        <activity
            android:name=".DocumentWeightActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"/>

        <receiver
                    android:name=".Scaner.ScanResultReceiverPM"
                    android:enabled="true"
                    android:permission="device.sdk.sample.scanner.permission.SCANNER_RESULT_RECEIVER"
                    android:priority="0" >
                    <intent-filter>
                        <action android:name="device.common.USERMSG" />
                        <action android:name="device.scanner.EVENT" />
                        <action android:name="ua.uz.vopak.brb4.brb4.RECVR"/>
                    </intent-filter>
        </receiver>
        <receiver android:name=".MainActivity$AlarmReceiver" >
        </receiver>


        <!--        <receiver
                    android:name=".RevisionScannerActivity$ScanResultReceiver"
                    android:enabled="true"
                    android:permission="device.sdk.sample.scanner.permission.SCANNER_RESULT_RECEIVER"
                    android:priority="0" >
                    <intent-filter>
                        <action android:name="device.common.USERMSG" />
                        <action android:name="device.scanner.EVENT" />
                    </intent-filter>
                </receiver>
        <receiver
            android:name=".PriceCheckerActivity$ReceiverBarCode"
            android:enabled="true"
            android:priority="0" >
            <intent-filter>
                <action android:name="BRB4.BARCODE" />
            </intent-filter>
        </receiver>-->

                <uses-library android:name="device.sdk" android:required="false" />
            </application>
        </manifest>
